
<div class="card" >
  <p-menubar [model]="items" > <h3>USER VIEW PAGE </h3>
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else urlRef">
          <a [routerLink]="item.route" class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
          </a>
      </ng-container>
      <ng-template #urlRef>
          <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
          </a>
      </ng-template>
      <ng-template #noLink>
          <div class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <span class="pi pi-fw pi-angle-down ml-2"></span>
          </div>
      </ng-template>
  </ng-template>
  </p-menubar>
</div>
<div class="card-container" style="background-color: rgb(7, 40, 40);">
<div class="card-item content-info mt-2  bg-blue-100 " *ngFor="let task of tasks">
  <p-card   [header]="task.title" class="bg-blue-500">
    <ng-template pTemplate="content">
      {{task.description}}
      <br>
      <br>
      <p-divider/>
      <label for="status" class="font-semibold w-3rem">Status:</label>
      {{task.status}}
      <br>
      <br>
      <label for="dueDate" class="font-semibold w-3rem">Due Date:</label>
      {{task.dueDate}}
</ng-template>
</p-card>
</div>
</div>
