<div class="card" >
  <p-menubar [model]="items" > <h3>USER HOME PAGE </h3>
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else urlRef">
          <a [routerLink]="item.route" class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
          </a>
      </ng-container>
      <ng-template #urlRef>
          <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
          </a>
      </ng-template>
      <ng-template #noLink>
          <div class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <span class="pi pi-fw pi-angle-down ml-2"></span>
          </div>
      </ng-template>
  </ng-template>
  </p-menubar>
</div>

<div class="mt-3 content-image-wrapper relative  w-full flex align-items-center justify-content-center min-h-screen">
  <p-card header="POST TASK" [style]="{ width: '400px' }">
    <form #postTaskForm="ngForm">

      <div class="field">
        <label for="title" class="font-semibold w-6rem">Title</label>
        <input type="text"
        pInputText
        [(ngModel)]="taskForm.title"
        id="title"
        name="title"
        #title="ngModel"
        class="w-full"
        placeholder="Enter a title"
        required />
      </div>
      @if(title.invalid && (title.dirty || title.touched)){
        <small class="block p-error">
          @if(title.hasError('required')) {
          <span>Title is required</span>
          } @else if(title.errors) {
          <span>Title is invalid</span>
          }
        </small>
        }

      <div class="field">
        <label for="description" class="font-semibold w-6rem">Description</label>
        <textarea
            rows="5"
            cols="30"
            pInputTextarea
            [(ngModel)]="value"
            (change)="textChange($event)"
            #value="ngModel">
       </textarea>
      </div>
        <div class="flex flex-wrap gap-3">
          <label for="status" class="font-semibold w-3rem">Status:</label>
          <div class="flex align-items-center">
              <p-radioButton
                  name="Pending"
                  value="PENDING"
                  [(ngModel)]="taskForm.status"
                  inputId="status1"
                   />
              <label for="status1" class="ml-2">
                  Pending
              </label>
          </div>

          <div class="flex align-items-center">
              <p-radioButton
                  name="Completed"
                  value="COMPLETED"
                  [(ngModel)]="taskForm.status"
                   inputId="status2"
                  />
              <label for="status2" class="ml-2">
                  Completed
              </label>
          </div>
          <br>
          @if(taskForm.status==undefined || taskForm.status==''){
            <small class="block p-error">
              @if(taskForm.status==''==undefined) {
              <span>Status is required</span>
              }
            </small>
            }
      </div>
      <br>
      <div class="flex-auto">
        <label for="icondisplay" class="font-bold block mb-2"> Default Icon </label>
        <p-calendar
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay"
            (click)="calenderValue($event)"/>
    </div>

    </form>
    <br>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="cancel()" />
      <p-button label="Save" (onClick)="postTask()" />
  </div>
  </p-card>
</div>
